<div class="navbar bg-gray-800 shadow-xl mb-5 ">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
            </div>
            <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                <li>
                    <a
                        routerLink="/gender/men"
                        class="btn btn-ghost"
                        routerLinkActive="text-info"
                    >
                        Hombres
                    </a>
                </li>
                <li>
                    <a
                        routerLink="/gender/women"
                        class="btn btn-ghost"
                        routerLinkActive="text-info"
                    >
                        Mujeres
                    </a>
                </li>
                <li>
                    <a
                        routerLink="/gender/kid"
                        class="btn btn-ghost"
                        routerLinkActive="text-info"
                    >
                        Niños
                    </a>
                </li>
                <li>
                    <a
                        routerLink="/gender/unisex"
                        class="btn btn-ghost"
                        routerLinkActive="text-info"
                    >
                        Unisex
                    </a>
                </li>

            </ul>
        </div>
        <a
            class="btn btn-ghost text-xl"
            routerLink="/"
        >
            <img
                src="logo.png"
                alt="Logo Teslo Shop"
                class="w-6 h-6"
            />
            Teslo | Shop
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a
                    routerLink="/gender/men"
                    class="btn btn-ghost"
                    routerLinkActive="text-info"
                >
                    Hombres
                </a>
            </li>
            <li>
                <a
                    routerLink="/gender/women"
                    class="btn btn-ghost"
                    routerLinkActive="text-info"
                >
                    Mujeres
                </a>
            </li>
            <li>
                <a
                    routerLink="/gender/kid"
                    class="btn btn-ghost"
                    routerLinkActive="text-info"
                >
                    Niños
                </a>
            </li>
            <li>
                <a
                    routerLink="/gender/unisex"
                    class="btn btn-ghost"
                    routerLinkActive="text-info"
                >
                    Unisex
                </a>
            </li>

        </ul>
    </div>
    <div class="navbar-end">
        <a class="btn btn-ghost">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4.005 16V4h-2V2h3a1 1 0 0 1 1 1v12h12.438l2-8H8.005V5h13.72a1 1 0 0 1 .97 1.243l-2.5 10a1 1 0 0 1-.97.757H5.004a1 1 0 0 1-1-1m2 7a2 2 0 1 1 0-4a2 2 0 0 1 0 4m12 0a2 2 0 1 1 0-4a2 2 0 0 1 0 4"/></svg>
        </a>
    </div>
</div>
